.calculator {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    166deg,
    #fefefe 0%,
    #f9f9f9 13%,
    #f3f3f3 33%,
    #e5e5e5 100%
  );
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.header {
  display: flex;
  padding: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.night-show {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-left: 119px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.moonBtn,
.sunBtn {
  cursor: pointer;
  margin-right: 10px;
}

.settings {
  cursor: pointer;
  margin-left: 69px;
}

.result-are {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.proccess {
  display: flex;
  justify-content: end;
  height: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.esit {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  font-weight: bold;
}

#result {
  font-size: 24px;
}

.bottom-area {
  display: flex;
  padding: 20px;
  background: linear-gradient(259deg, #bcefff 2%, #a3cddf 28%, #94b5e5 65%, #bacdff 100%);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  height: 247px;
}

.first-row,
.bottom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  font-weight: bold;
  cursor: pointer;
  gap: 7px;
  margin-bottom: 10px;
}
.first-row {
  width: 59%;
  justify-content: space-around;
  display: flex;
  height: 29px;
  align-items: center;
  padding: 7px;
  margin-right: 16%;
  margin-bottom: -43px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.numberBox {
  width: calc(33.33% - 10px);
  text-align: center;
  padding: 10px 0;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  height: 18px;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.right-area {
  width: 14%;
  display: flex;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 20px;
  margin-bottom: 65px;
  border-radius: 25px;
  flex-direction: column;
  font-weight: bold;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.right-area div {
  text-align: center;
  padding: 10px 0;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.right-area div:last-child {
  background-color: rgb(175, 224, 253);
  margin: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.ustMode {
  display: flex;
}
.moonBtn {
  background-color: rgb(216, 238, 255);
  width: 35px;
  opacity: 0.5;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.sunBtn {
  background-color: rgb(169, 220, 253);
  width: 35px;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* DARKMODE */

.sunBtnDark {
  background-color: rgb(27,106,156);
}
.moonBtnDark { 
  color: white;
  background: #003661;
}
.calculatorDarKmode { 
    background: rgb(27,29,32);
}
.numberBoxDark {
    background: rgb(18,53,77);
    color: white;
  
}
.result-areDark { 
    color: white;
}
.bottomAreaDark {
    background: rgba(0, 34, 53, 0.712);
}
.proccessDark {
  color:grey;
}
.right-areaDark {
  background: rgb(18,53,77);
  color: white;

}
.first-rowDark {
  background: rgb(18,53,77);
  color: white;
}
.right-areaDark div:last-child {
  background-color: rgb(10,31,47);
}

.clockCucWhite {
  color: white;
}

/* LİGHTMODE */

.sunBtnLight {
  background-color: rgb(169, 220, 253);
}
.moonBtnLight { 
  color:black;
  background-color: rgb(216, 238, 255);
}
.calculatorLightMode { 
  background: linear-gradient(
    166deg,
    #fefefe 0%,
    #f9f9f9 13%,
    #f3f3f3 33%,
    #e5e5e5 100%
  );
}
.numberBoxLight {
    background: rgba(255, 255, 255, 0.3);
    color:black;
  
}
.result-areLight { 
    color:black;
}
.bottomAreaLight {
  background: linear-gradient(259deg, #bcefff 2%, #a3cddf 28%, #94b5e5 65%, #bacdff 100%);
}
.proccessLight {
  color:grey;
}
.right-areaLight {
  background: rgba(255, 255, 255, 0.3);
  color:black;

}
.first-rowLight {
  background: rgba(255, 255, 255, 0.3);
  color:black;
}
.right-areaLight div:last-child {
  background-color: rgb(175, 224, 253);
}

.clockCucBlack {
  color:black;
}





